@import url('https://fonts.googleapis.com/css?family=Oleo+Script');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#login-div {
  position: fixed;
  top: 50%;
  left: 55%;
  width: 200em;
  margin-top: -9em;
  margin-left: -15em;
}

.stretcher {
  height: 1000px !important;
  overflow: auto;
  /*overflow-y: auto;*/
}

.hold-panes {
  height: 600px !important;
  /*overflow-y: auto;*/
}

.hold-comments {
  height: 300px !important;
  width: 450px !important;
  overflow-y: auto;
}

.hold-post-show {
  height: 575px !important;
  overflow-y: auto;
}

.hold-posts {
  height: 575px !important;
  width: 200px !important;
  overflow-y: auto;
}

.hold-users {
  height: 700px !important;
}

.hold-user-friends {
  height: 500px !important;
  overflow-y: auto;
}

.back-img {
  background: url('./background-imgs/alex-jodoin-246078.jpg');
  /*bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;*/
  /*width: 100% !important;*/
  /*height: 1000px !important;*/
  z-index: -1 !important;
}

.text-align-left {
  text-align: left !important;
}

.text-align-jusified {
  text-align: justify !important;
}

.login-header {
  font-family: 'Oleo Script', cursive !important;
  color: white !important;
  font-size: 55px !important;
}

.login-background {
  background: url('./background-imgs/piotr-chrobot-276746.jpg');
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

.under-header {
  font-family: 'Oleo Script', cursive !important;
  margin-top: -30px !important;
  color: white !important;
  font-size: 45px !important;
}

.under-under-header {
  font-family: 'Oleo Script', cursive !important;
  margin-top: -30px !important;
  color: white !important;
  font-size: 35px !important;
}

.login-form {
  margin-top: 250px !important;
}

.left-margin {
  margin-left: 7px !important;
}

.left-box-margin {
  margin-left: 20px !important;
}

.comment-text-left {
  margin-left: 42px !important;
}

/* ##### FRONT PAGE CARD ##### */

/*.slider{
  width: 100%;
  height: 100vh;

  .items-group{
    width: 100%;
    height: 100%;
    position: relative;

    .item{
      top: 0px;
      left: 0px;
      opacity: 0;
      width: 100%;
      height: 100%;
      display: flex;
      overflow: hidden;
      transition: 0.5s;
      visibility: hidden;
      position: relative;
      padding: 50px 20px;
      position: absolute;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;

      &:hover{

        .bg{
          opacity: 0.2;
        }

        .block{
          box-shadow: 0px 0px 50px #333;
        }
      }

      &.active{
        opacity: 1;
        visibility: visible;
      }

      .bg{
        top: 0px;
        left: 0px;
        opacity: 1;
        z-index: -1;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        position: absolute;
        transform: scale(1.03);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
      }

      .blur{
        top: 0px;
        left: 0px;
        z-index: -1;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        filter: blur(5px);
        position: absolute;
        transform: scale(1.03);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
      }

      .block{
        width: 100%;
        height: 100%;
        padding: 20px;
        color: #ffffff;
        transition:box-shadow 0.5s;
        max-width: 300px;
        overflow: hidden;
        max-height: 450px;
        border-radius: 10px;
        transform: scale(1.03);
        box-sizing: border-box;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        box-shadow: none;

        .circleLight{
          top: 0px;
          left: 0px;
          opacity: 0;
          content: '';
          width: 100%;
          height: 100%;
          display: block;
          transition: 0.5s;
          position: absolute;
          border-radius: 10px;
          background: radial-gradient(circle at 80px 40px, #fff, transparent);
        }

        .text{
          width: 100%;
          height: 100%;
          display: flex;
          text-align: center;
          flex-direction: column;
          justify-content: center;
          background-position: center;
          background-attachment: fixed;
        }

        h2{
          font-family: 'Oswald', sans-serif;
          font-size: 130px;
          margin-bottom: 0px;
        }

        p{
          font-family: 'Open Sans', sans-serif;
          font-size: 15px;
        }

        &:hover{
          box-shadow: 0px 0px 70px #111;

          .circleLight{
            opacity: 0.4;
          }
        }
      }
    }
  }

  .navigations{
    bottom: 0px;
    width: 100%;
    position: absolute;

    .dots{
      height: 20px;
      padding: 10px 0px;
      text-align: center;

      li{
        width: 10px;
        height: 10px;
        cursor: pointer;
        transition: 0.3s;
        background: #fff;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;

        &+li{
          margin-left: 10px;
        }

        &:hover{
          filter: blur(2px);
        }

        &.active{
          width: 15px;
          height: 15px;

          &:hover{
            filter: blur(0px);
          }
        }
      }
    }
  }
}*/
